.wrapper {
    max-width: 70rem;
    margin: 2rem auto;

    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}
/* fr é a medida utilizada pra ele completar o resto da tela
gap é o espaço criado entre a sidebar e o post
obs: o margin auto centraliza
 */